html{
    height: 100%;
    font-size: 62.5%
}
body{
    background: #29bde0;
}
*{
    margin:0;padding:0
}
p {
    font-size: 1.1rem;
    color: #d9e7e0;
}
.box{
    width: 100%;
    position: fixed;
    background: #29bde0;
    top: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 4.4rem;
    width: 100%;
}
.bg-menu1 {
    width: 20px; height: 20px;
    background: url('css7-2_sprites.png') -57px -10px;
    margin: 0 0 0.7rem 1rem;
}
.bg-fork {
    width: 18px; height: 19px;
    background: url('css7-2_sprites.png') -10px -57px;
    margin: 0 1.2rem 0.7rem 0;
}
.word{
    font-size: 1.7rem;
    color: white;
    margin-bottom: 0.9rem;
}
/*以上为页眉*/
.tips {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #b9e9f5;
    height: 4.1rem;
    width: 100%;
}
.word1{
    color: black;
    font-size: 1.3rem;
    margin-left: 2.3rem;
}
.bg-play {
    width: 27px; height: 27px;
    background: url('css7-2_sprites.png') -10px -10px;
    margin-right: 0.8rem;
}
.bg-tishi {
    width: 8px; height: 7px;
    background: url('css7-2_sprites.png') -45px -96px;
    margin-left: 3.5rem;
}
.word-tishi{
    margin-left: 3.5rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: white;
}
/*提示栏*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13rem;
    margin-bottom: 9.5rem;
}
.container1{
    display: flex;
    justify-content: space-between;
    width: 27.5rem;
    overflow: hidden;
}
.box1{
    width: 6.8rem;
    height: 6.8rem;
    margin-bottom: 3.7rem;
}
.vote{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 6.3rem;
    height: 6.3rem;
    background: #f5c97b;
    border: 2px solid white;
}
.box1:hover .box2{
    display: block;
}
.name {
    font-size: 1.5rem;
    color: black;
    margin-top: 1.8rem;
}
.order {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.35rem;
    width: 100%;
    background: #83b09a;

}
/*头像*/
.box2 {
    display: none;
    margin-top: 1.1rem;
}
.box3 {
    display: flex;

}
.bg-gan {
    width: 15px; height: 15px;
    background: url('css7-2_sprites.png') -10px -96px;
    margin-left: 0.15rem;
}
.bg-fanda {
    width: 16px; height: 15px;
    background: url('css7-2_sprites.png') -48px -57px;
    margin-left: 0.3rem;
}
.bg-cross {
    width: 15px; height: 15px;
    background: url('css7-2_sprites.png') -97px -45px;
    margin-left: 0.3rem;
}
.bg-shizi {
    width: 16px; height: 15px;
    background: url('css7-2_sprites.png') -97px -10px;
    margin-left: 0.3rem;
}
/*中间部分*/
.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 9.5rem;
    width: 100%;
    background: #29bde0;
}
.throw {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24.5rem;
    height: 4.35rem;
    background: #fbb435;
    margin-top: 2.1rem;
}
a:link {
    text-decoration: none;
}
.footer-word {
    font-size: 2rem;
    color: white;
}

